.navbar {
  position: fixed;
  top: 0px;
  left: 2.5%;
  right: 2.5%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-logo {
  height: 40px;
}

.navbar-links a {
  text-decoration: none;
  color: rgba(9, 9, 9, 0.58);
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--color-accent);
}

.navbar-right {
  display: block;
}

/* Hamburger Menu Icon */
.navbar-mobile-menu {
  display: none; /* Hidden by default */
  cursor: pointer;
  z-index: 1010; /* Ensure it's on top */
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: var(--color-charcoal-text);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}


/* Mobile Styles */
@media (max-width: 768px) {
  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1004; /* Below menu, above content */
  }

  .navbar-links {
    display: none; /* Hide desktop links */
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%; /* Start off-screen */
    width: 50%;
    height: calc(30vh); /* Adjusted height */
    padding-top: 4rem;
    background: rgba(255, 255, 255, 0.961);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: right 0.4s ease-in-out;
    z-index: 1005;
    overflow-y: none; /* Enable scrolling for long menus */
    border-radius: 7px;
  }

  .navbar-links.open {
    display: flex;
    right: 0; /* Slide in */
  }

  .navbar-links a {
    font-size: 0.8rem;
    margin-bottom: 0.05rem;
    width: 100%;
    text-align: left;
  }

  .navbar-right {
    display: none; /* Hide "Book Now" button */
  }

  .navbar-mobile-menu {
    display: flex; /* Show hamburger */
  }
}