.time-selector {
  margin-bottom: 1rem;
}

.time-selector h4 {
  font-family: 'Inter', sans-serif;
  color: var(--color-text-primary);
  margin-bottom: 0.8rem;
  font-weight: 500;
  text-align: center;
}

.time-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.time-select {
  padding: 0.5rem;
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  font-size: 1rem;
  -webkit-appearance: none; /* Remove default select arrow */
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  cursor: pointer;
}

.time-select:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(var(--color-primary), 0.2);
}

.time-picker span {
  font-size: 1rem;
  color: var(--color-text-primary);
 
}

.ampm-button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
 
}

.ampm-button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.ampm-button.selected {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

@media (max-width: 768px) {
  .time-select {
    min-width: 60px; /* Adjust as needed to fit two digits */
  }
}
