.services-section {
  padding: 4rem 2rem;
  background-color: var(--color-secondary-bg);
  text-align: center;
}

.section-title {
  font-size: var(--h2-size-desktop);
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section-title {
    font-size: var(--h2-size-mobile);
    /* color: var(--color-primary); */
  }
}
